body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app {
  height: 100%;
  width: 100%;

  canvas {
    outline: none;
  }
}

#credits {
  color: white;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  line-height: 1.5;

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }
}
